.editorconfig
.env
.git
.gitattributes
.github
.gitignore
.gitmodules
.vscode
Dockerfile
README.md
build
.tmp
android
wrapper-android
*.bak
.env.local.bak
rootfs/data/data/com.apple.android.music/files
