* text=auto eol=lf

*.sh         text eol=lf
*.bash       text eol=lf
Dockerfile   text eol=lf
*.yml        text eol=lf
*.yaml       text eol=lf
*.json       text eol=lf
*.cmake      text eol=lf
*.c          text eol=lf
*.cpp        text eol=lf
*.h          text eol=lf
*.hpp        text eol=lf

*.png        binary
*.jpg        binary
*.so         binary
*.apk        binary
*.apkm       binary
